<a routerLink="/admin-dashboard">Admin Dashboard</a>
<br>
<a routerLink="/admin-products">Manage Products</a>
<br>
<a routerLink="/login">Logout</a>
<div *ngIf="product">
    <h2>{{product.name | uppercase}} Details</h2>
    <div>id: {{product.id}}</div>
    <div>Price: {{product.price}}</div>
    <div>woodtype: {{product.woodType}}</div>
    <div>stock: {{product.stock}}</div>
    <br>

    <div>
      <label for="product-name">Product name: </label>
      <input id="product-name" [(ngModel)]="product.name" placeholder="name">
      <br>
      <label for="product-price">Product price: </label>
      <input id="product-price" [(ngModel)]="product.price" placeholder="price">
      <br>
      <label for="product-stock">Product stock: </label>
      <input id="product-stock" [(ngModel)]="product.stock" placeholder="stock">
      <br>
      <button type="button" (click)="goBack()">go back</button>
      <button type="button" (click)="save()">save</button>
    </div>
  </div>